In [18]:
import pandas as pd

student_data = pd.read_csv('students_performance.csv')
display(student_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [8]:
student_data['writing score'][155]

88

In [16]:
student_data.value_counts()

1000

In [10]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [11]:
student_data['math score'].mean()

66.089

In [12]:
student_data['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [13]:
student_data['reading score'][student_data['test preparation course']=='completed'].mean()

73.89385474860335

In [15]:
student_data[student_data['math score']==0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [17]:
max(student_data['math score'][student_data['lunch']=='standard'].mean()
    , student_data['math score'][student_data['lunch']!='standard'].mean())

70.03410852713178

In [38]:
len(student_data[student_data['parental level of education']=="bachelor's degree"])*100/len(student_data)

11.8

In [27]:
abs(student_data['writing score'][student_data['race/ethnicity']=='group A'].median()
-student_data['writing score'][student_data['race/ethnicity']=='group C'].mean())

5.827586206896555